/ tachometer.tpl.html
%style div{border: 1px solid white;}
%link{href:'tachometer.css', rel:'stylesheet'}

%div.container
  %div#tachometer
    %div.ii
      %div
        %b 
          %span.num-1 0
      %div
        %b
      %div
        %b
          %span.num-2 1
      %div
        %b          
      %div
        %b
          %span.num-3 2
      %div
        %b          
      %div
        %b
          %span.num-4 3
      %div
        %b          
      %div
        %b
          %span.num-5 4
      %div
        %b          
      %div
        %b
          %span.num-6 5
      %div
        %b          
      %div
        %b
          %span.num-7 6
      %div
        %b          
      %div
        %b
          %span.num-8 7
      %div
        %b          
      %div
        %b
          %span.num-9 8
      %div
        %b          
    %div#redline
    %div.needle
    %div.pin
      %div.inner 