<!-- tachometer.tpl.html -->
<style>div{border: px solid white;}</style>
<link href='tachometer.css' rel='stylesheet'>
<div class='container'>
<div id='tachometer'>
<div class='ii'>
<div>
<b>
<span class='num-1'>0</span>
</b>
</div>
<div>
<b></b>
</div>
<div>
<b>
<span class='num-2'>1</span>
</b>
</div>
<div>
<b></b>
</div>
<div>
<b>
<span class='num-3'>2</span>
</b>
</div>
<div>
<b></b>
</div>
<div>
<b>
<span class='num-4'>3</span>
</b>
</div>
<div>
<b></b>
</div>
<div>
<b>
<span class='num-5'>4</span>
</b>
</div>
<div>
<b></b>
</div>
<div>
<b>
<span class='num-6'>5</span>
</b>
</div>
<div>
<b></b>
</div>
<div>
<b>
<span class='num-7'>6</span>
</b>
</div>
<div>
<b></b>
</div>
<div>
<b>
<span class='num-8'>7</span>
</b>
</div>
<div>
<b></b>
</div>
<div>
<b>
<span class='num-9'>8</span>
</b>
</div>
<div>
<b></b>
</div>
</div>
<div id='redline'></div>
<div class='needle'></div>
<div class='pin'>
<div class='inner'></div>
</div>
</div>
</div>
