!!! html
/ index.tpl.html
/ Carling Technologies::OctaPlex Production
%html.no-js{lang:''}
  %head
    %meta{character:'utf-8'}
    %meta{http_equiv:'x-ua-compatible', content:'ie-edge'}
    %title Carling Technologies Octoplex Dashboard     
    %meta{name:'description', content:''}
    %meta{name:'viewport', content:'width=device-width, initial-scale=1, shrink-to-fit=no'}  
    %link{href:'index.css', rel:'stylesheet'}
    / %link{rel:'icon', type:'image/png',  href:'../images/favicon.ico'}
  %body
    #root
    %svg{xmls: "http:// www.w3.org/2000/svg", width:"200", height:"200", viewBox:"0 0 200 200"}
/ eof