!!! html
/ flexbox.tpl.html
/ Carling Technologies::OctaPlex Production
%html.no-js{lang:''}
  %head
    %meta{character:'utf-8'}
    %meta{http_equiv:'x-ua-compatible', content:'ie-edge'}
    %title Carling Technologies Octoplex Dashboard     
    %meta{name:'description', content:''}
    %meta{name:'viewport', content:'width=device-width, initial-scale=1, shrink-to-fit=no'}   
  %body
    .flexContainer
      .flexItem
        %header.header Header
        %main.content Content
        %footer.footer Footer: 
/ eof