<!DOCTYPE html>
<html>
    <head>
    <title>Bulma CSS Framework</title>
    <meta character='utf-8'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css' rel='stylesheet'>
    <style>
        #root { background-color: black; color: white; }
    </style>  
    <body>
        <div id='root'>Bulma CSS Framework Test Drive</div>
        <section class="hero is-primary is-medium">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-1">
                        Coding Quotes
                    </h1>
                    <h2 class="subtitle">
                        Like your favorites
                    </h2>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <h2 class="title">"Measuring programming process by lines of code is like measuring aircraft building process by weight."</h2>
                                <h3 class="subtitle">Bill Gates</h3>
                            </div>
                            <footer class="card-footer">
                                <span class="card-footer-item">
                                    <a href="#" class="button is-success">
                                        <i class="fa fa-thumbs-o-up"></i>
                                    </a>
                                </span>
                                <span class="card-footer-item">
                                    <a href="#" class="button is-danger">
                                        <i class="fa fa-thumbs-o-down"></i>
                                    </a>
                                </span>
                                <span class="card-footer-item">
                                    <a href="#" class="button is-info">
                                        <i class="fa fa-retweet"></i>
                                    </a>
                                </span>
                            </footer>
                        </div> 
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <h2 class="title">
                                    "Good design adds value faster than it adds cost."
                                </h2>
                                <h3 class="subtitle">Thomas C. Gale</h3>
                            </div>
                            <footer class="card-footer">
                                <span class="card-footer-item">
                                    <a href="#" class="button is-success">
                                        <i class="fa fa-thumbs-o-up"></i>
                                    </a>
                                </span>
                                <span class="card-footer-item">
                                    <a href="#" class="button is-danger">
                                        <i class="fa fa-thumbs-o-down"></i>
                                    </a>
                                </span>
                                <span class="card-footer-item">
                                    <a href="#" class="button is-info">
                                        <i class="fa fa-retweet"></i>
                                    </a>
                                </span>
                            </footer>
                        </div> 
                    </div>
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <h2 class="title">
                                    "Any fool can write code that the computer can understand. Good programmers write code that human understand."
                                </h2>
                                <h3 class="subtitle">Martin Fowler</h3>
                            </div>
                            <footer class="card-footer">
                                <span class="card-footer-item">
                                    <a href="#" class="button is-success">
                                        <i class="fa fa-thumbs-o-up"></i>
                                    </a>
                                </span>
                                <span class="card-footer-item">
                                    <a href="#" class="button is-danger">
                                        <i class="fa fa-thumbs-o-down"></i>
                                    </a>
                                </span>
                                <span class="card-footer-item">
                                    <a href="#" class="button is-info">
                                        <i class="fa fa-retweet"></i>
                                    </a>
                                </span>
                            </footer>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <script src=''></script>    
    </body>
</html>
<!-- eof -->
