header[role="banner"] {
  margin: 20px 0 30px 0;
  border-bottom: 4px solid #333;
}
header[role="banner"] #logo {
  float: left;
  margin: 0 20px 0 0;
}
header[role="banner"] #logo img {
  display: block;
  opacity: 0.95;
}
header[role="banner"] h1 {
  padding: 15px 0;
  font-size: 54px;
  font-family: Jubilat, Georgia, serif;
  font-weight: bold;
  line-height: 1;
}

header nav[role="navigation"] ul li.active a {
  padding: 3px 8px;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #d42a78;
  background-image: -moz-linear-gradient(#ff70b1, #d42a78);
  background-image: -webkit-linear-gradient(linear, left top, left bottom, color-stop(0, #ff70b1), color-stop(1, #d42a78));
  background-image: -webkit-linear-gradient(#ff70b1, #d42a78);
  background-image: -ms-linear-gradient(#ff70b1, #d42a78);
  background-image: -webkit-linear-gradient(#ff70b1, #d42a78);
  background-image: -o-linear-gradient(#ff70b1, #d42a78);
  background-image: linear-gradient(#ff70b1, #d42a78);
}

section.main {
  font-size: 16px;
  line-height: 1.4;
}
@media screen and (max-width: 1200px) {
  section.main {
    float: left;
    width: 65%;
  }
}
@media screen and (max-width: 800px) {
  section.main {
    float: none;
    width: auto;
  }
}
@media screen and (max-width: 500px) {
  section.main {
    font-size: 12px;
    line-height: 1.4;
  }
}

section.main h2 {
  margin: 0 0 20px 0;
  font-family: Juliat, Georgia, serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #007;
  background: #fff;
}

section.main h3 {
  color: #fff;
}

section.main p {
  margin: 0, 0, 20px 0;
  font-size: 18px;
  line-height: 1.5;
}

section.secondary h2 {
  margin: 0 0 20px 0;
  font-family: Juliat, Georgia, serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #007;
  background: #fff;
}

section.secondary h3 {
  color: #fff;
}

div.module {
  padding: 20px;
  background-color: #eee;
  border: 3px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 5px 5px 4px #999;
  -moz-box-shadow: inset 5px 5px 4px #999;
  -ms-box-shadow: inset 5px 5px 4px #999;
  -o-box-shadow: inset 5px 5px 4px #999;
  box-shadow: inset 5px 5px 4px #999;
}

ol.slats li a img {
  float: left;
  margin: 0 10px 0 0;
  padding: 4px;
  border: 1px solid #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.alert-positive {
  background-color: #666;
  padding: 15px;
  font-size: 1.2em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.important, .alert-positive {
  font-size: 2em;
}

.alert-positive {
  background-color: #9c3;
}

/*# sourceMappingURL=sasquatch.css.map */
