!!! 5
/ sasquatch.html
%html
  %head
    %title N2K Sasquatch Records
    %meta{charset:'utf-89'}
    %link{href:'sasquatch.css', rel:'stylesheet'}
  %body
    %style
      header { /* border: 1px solid black; */ }
      section.main { /* background: tomato; */ }
      section.secondary { /* background-color: yellow; */ }
      div.module { /* background-color: aqua; */ }
    %h2.alert-positive This is a positive alert      
    %header{role:'banner'}
      %div.logo
        %img{src:'user.png', alt:'N2K Sasquatch Records', width:'60px'}
      %h1 N2K Sasquatch Records
     
      %nav{role:'navigation'}
        %ul
          %li.active
            %a{href:'#'} Home
          %li
            %a{href:'#'} Bands
          %li
            %a{href:'#'} Shows
          %li
            %a{href:'#'} Store
            
            
            
    %section.main
      %h2 Latest News
      %h3 New Artist: Loch Nestle
      %h4 OCTOBER 31, 2012
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id dolor convallis, ornare eros vitae, faucibus nulla. Etiam vitae elementum leo. Ut vel enim sagittis, laoreet urna eget, faucibus nibh. Sed a risus urna. Nulla facilisi. Fusce varius pulvinar diam, a pellentesque ligula consectetur in. Vestibulum massa libero, pellentesque sit amet ultrices non, efficitur ac nisi. Duis varius luctus augue eget convallis. Donec odio orci, molestie et tempor lobortis, aliquam vel metus. Cras vel sem quis est rutrum porta. Mauris tortor felis, eleifend vel odio a, facilisis porttitor dolor. Mauris non leo quis magna dignissim ultricies vulputate eu augue.
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id dolor convallis, ornare eros vitae, faucibus nulla. Etiam vitae elementum leo. Ut vel enim sagittis, laoreet urna eget, faucibus nibh. Sed a risus urna. Nulla facilisi. Fusce varius pulvinar diam, a pellentesque ligula consectetur in. Vestibulum massa libero, pellentesque sit amet ultrices non, efficitur ac nisi. Duis varius luctus augue eget convallis. Donec odio orci, molestie et tempor lobortis, aliquam vel metus. Cras vel sem quis est rutrum porta. Mauris tortor felis, eleifend vel odio a, facilisis porttitor dolor. Mauris non leo quis magna dignissim ultricies vulputate eu augue.
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id dolor convallis, ornare eros vitae, faucibus nulla. Etiam vitae elementum leo. Ut vel enim sagittis, laoreet urna eget, faucibus nibh. Sed a risus urna. Nulla facilisi. Fusce varius pulvinar diam, a pellentesque ligula consectetur in. Vestibulum massa libero, pellentesque sit amet ultrices non, efficitur ac nisi. Duis varius luctus augue eget convallis. Donec odio orci, molestie et tempor lobortis, aliquam vel metus. Cras vel sem quis est rutrum porta. Mauris tortor felis, eleifend vel odio a, facilisis porttitor dolor. Mauris non leo quis magna dignissim ultricies vulputate eu augue.  
    
    %section.secondary  
      %h2 Popular Videos
      %div
        %h3 This is title 1
        %img{src:'user.png', width:'40px'}
        %blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla iaculis iaculis. Donec ultricies eros
      %div
        %h3 This is title 2
        %img{src:'user.png', width:'40px'}
        %blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla iaculis iaculis. Donec ultricies eros
      %div
        %h3 This is title 3
        %img{src:'user.png', width:'40px'}
        %blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc fringilla iaculis iaculis. Donec ultricies eros
        
      %div.module
        %h2 Follow Us
        %ol.slats
          %li 
            %img{src:'user.png', width:'20px'}
            %a{href:'#'} Dribble 
              
          %li 
            %img{src:'user.png', width:'20px'}
            %a{href:'#'} Flickr
               
          %li 
            %img{src:'user.png', width:'20px'}
            %a{href:'#'} Facebook
          
    %script{src:"sasquatch.js"}
               
  / eof